body {
    background-color: rgb(255, 119, 0);
    color: white;
}

section {
    background-color: black;
    border-radius: 3%;
    border-style: double;
    border-color: rgb(188, 188, 188);
    border-width: 8px;
    margin: 200px;
    padding: 100px;
    font-family: Impact, fantasy;
}
