body {
    background-color: black;
}

h1 {
    margin: auto;
    text-align: center;
}

#logo {
    max-width: 500px;
}

h2 {
    font-size: 60px;
}

h2, h3, p, h4, .navbar, table, footer, #submit {
    color: white;
    font-family: Impact, fantasy;
    font-weight: 500;
}

.navbar a {
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: 10px 40px;
    background-color: rgb(255, 119, 0);
    color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.navbar {
    position: sticky;
    top: 0px;
    text-align: center;
    justify-content: space-between;
    z-index: 1000; /* Ensure navbar is above other content */

}

.navbar a:hover {
    background-color: rgb(129, 60, 0);
}

button:hover {
    background-color: rgb(129, 60, 0);
}

a {
    color: cyan;
}

a:hover {
    color: white;
}

#be_alone {
    width: 400px;
    float: left;
    margin-right: 100px;
    margin-bottom: 100px;
    border-width: 20px;
    border-color: rgba(125, 192, 125, 0.658);
    border-style: dashed;
}

#li {
    font-size: 35px;
    color: rgb(186, 255, 186);
}

#newsong {
    padding-left: 15%;
    background-color: rgba(125, 192, 125, 0.658);
}

h3 {
    clear: both;
    font-size: 35px;
    text-align: center;
    background-color: rgb(255, 119, 0);
    margin: 60px;
    border-radius: 10px;
}

ul {
    font-size: 25px;
    margin-right: 300px;
    padding: 50px;
    color: white;
}

h4 {
    color: white;
    font-size: 35px;
    text-align: center;
    clear: both;
}

.xx {
    font-size: 25px;
}

i {
    font-size: 60px;
}

#skull {
    position: sticky;
    top: 0px;

}

#theband {
    width: 650px;
    float: right;
    margin-right: 80px;
}

p {
    text-align: center;
}

.place-info {
    color: rgb(255, 119, 0);
    font-size: 22px;
    display: inline-block;


}

.places {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: white;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}

.where {
    color: white;
    font-size: 22px;
    display: inline-block;
}

button {
    background-color: rgb(255, 119, 0);
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 22px;
    font-family: Impact, fantasy;
    font-weight: 500;
    color: white;
}

.shop {
    text-align: center;
    border-style: double;
    border-color: white;
    border-radius: 10px;
    border-width: 5px;
    padding: 10px;
}

#container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

table {
    width: 100%;
    border: 4px solid white;
    font-size: 23px;
    text-align: center;
}

thead {
    background-color: rgb(95, 95, 95);
}

tbody {
    background-color: rgb(222, 222, 222);
    color: rgb(26, 46, 89);
    font-size: 18px;
}

tfoot {
    background-color: rgb(255, 119, 0);
    font-family: fantasy;
}

th, td {
    padding: 15px;
}

footer {
    background-color: rgba(10, 9, 23, 0.6);
    background-image: url(Images/TLT_logo.webp);
    background-size: contain;
    background-repeat: repeat;
    padding: 60px 100px;
    font-size: 21px;
}

label {
    padding: 0px 10px;
}

#submit {
    background-color: rgb(184, 61, 0);
    padding: 8px;
    font-size: 20px;
    border: none;
}

#submit:hover {
    background-color: rgb(129, 60, 0);
}

#skulls {
    color: red;
    text-align: center;
    margin: 50px 0px;
    width: 100%;
    animation-name: skulls;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes skulls {
    0% {color: orange;}
    25% {color: green;}
    50% {color: purple;}
    75% {color: blue;}
    100% {color: red;}
  }

#signup {
    background-color: black;
    border-style: solid;
    border-color: rgb(255, 119, 0);
    border-width: 5px;
    margin-top: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    border: 2px solid rgb(255, 119, 0);
    border-radius: 5px;
}

section{
    margin-bottom: 100px;
}
